{% extends "base.html" %}


{% block splash %}
<!-- splash section -->

<div class="splash" id="homeAnchor">
	<div class="greeting">
		<p>I am currently</p>
		<p><span class="available">available</span> for</p>
		<p>new projects.</p>
	</div>
</div>

{% endblock %}



{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="story" id="aboutAnchor">
	<div class="text">
		<h1>My Story</h1>
		<p>{{ about.body }}</p>
	</div>
</div>
{% endblock %}

{% block projects %}
{% setcontent tech = 'page/tech' %}
<div id="workAnchor" class="code-pic" style="background: url({{ tech.image|image }}); background-size: cover; clear: left" data-stellar-background-ratio="0.5">
	<div class="code-container">
		<div class="code-title"></div>
		<div class="code-content">
			<div class="row">
				<div id="spiceworks" class="project large-6 columns">
					<div class="project-info"><h1>Spiceworks</h1><p>Windows XP dies a terrible death this month. Here's a piece a wrote about coping with the coming end of life.</p></div>
				</div>
				<div id="prepify" class="project large-6 columns">
					<div class="project-info"><h1>Prepify</h1></div>
				</div>
			</div>
			<div class="row">
				<div id="sxsw" class="project large-4 columns">
					<div class="project-info"><h1>SXSW</h1></div>
				</div>
				<div id="alcalde" class="project large-4 columns">
					<div class="project-info"><h1>The Alcalde</h1></div>
				</div>
				<div id="travesty" class="project large-4 columns">
					<div class="project-info"><h1>Texas Travesty</h1></div>
				</div>
			</div>

		</div>
	</div>
</div>
{% endblock %}


{% block experience %}
	<div id="experienceAnchor" class="resume">
		<h1>Experience</h1>
		<br>
		<h2>Copywriter @Spiceworks <em>Dec 2013 - current</em></h2>
		<p>At Spiceworks I take on a variety of both front-facing and internal projects, but mostly I write "Data Gone Spicy" papers - fun marketing pieces highlighting popular IT trends in an approachable way</p>
		<h2>Web Developer @Prepify <em>Oct 2013 - current</em></h2>
		<p>Prepify was founded to level the SAT-prep playing field and provide quality test preparation for everyone - regardless of income.</p>
		<p>First began as a MakerSquare capstone project, later rebooted at the LAUNCH hackathon February 21st, 2014.</p>
		<ul>
			<li>Original Repo <i class="fa fa-github"></i></li>
			<li>LAUNCH Reboot <i class="fa fa-github"></i></li>
		</ul>
		<p>Tech used: User and Admin Authentication (via Devise), Email Capability (ActionMailer), JQuery, Ajax, Foundation, Carrierwave, Amazon S3</p>
		<h2>Data Transcription Technician @Texas Legislative Council <em>Dec 2012 - June 2013</em></h2>
		<ul>
			<li>Proofed, tracked, and organized legislative documents for an organization that serves all 181 Texas legislators and numerous state agencies.</li>
			<li>Gained new familiarity with archival (S.A.L.S.A.) and tracking (OnTrack) softwares.</li>
		</ul>
		<h2>Web Content Intern @Somnio <em>May 2012 - August 2012</em></h2>
		<ul>
			<li>Researched and replicated brand voices of HP, IBM, and other Somnio Clients</li>
			<li>Wrote diaogue for IBM CloudQuest, a game designed for IBM to teach users about the cloud and collect relevant sales data.</li>
			<li>Collaborated with Content Strategy, Creative Direction, and Client Relations teams.</li>
		</ul>
		<span class="education"><h1>Education</h1></span>
		<h2>MakerSquare</h2>
		<ul>
			<li>Full-time immersive bootcamp</li>
			<li>Learned Ruby, RoR, HTML/CSS, JS and Jquery</li>
			<li>Used common management tools Git, Github, Flowdock, and Basecamp</li>
			<li>Integrated APIs into apps: including Twilio, Google Maps, and Twitter.</li>
			<li>Introduced to Test-Driven Development (TDD) usin Rspec and agile development.</li>
			<li>Built <strong>BikeWeather</strong>, an app that responds to texts with weather conditions as they affect cyclists.</li>
		</ul>
		<h2>The University of Texas</h2>
		<ul>
			<li>Received my B.A. in Plan II Honors (an interdisciplinary honors program between the natural sciences and liberal arts).</li>
			<li>Attended the Pembroke-Kinks Program at Cambridge University, King's College.</li>
		</ul>
	</div>
{% endblock %}

{% block contact %}

{% setcontent write = 'page/writing' %}

<div id="contactAnchor" class="pencil-pic" style="background: url({{ write.image|image }}); background-size: cover" data-stellar-background-ratio="0.5">
	<div class="text">
		<div class="contact">
			<h1>Contact</h1>
			<br>
			<h2>512.788.3680</h2>
			<h2><a href="mailto:joseph.charles.marshall@gmail.com">joseph.charles.marshall@gmail.com</a></h2>
			<h2>@joecharmar</h2>
		</div>
	</div>
</div>


{% endblock %}





