{% extends "base.html" %}


{% block splash %}
<!-- splash section -->

<div class="splash">
	<div class="greeting">
		<p>I'm a freelancing</p>
		<p>web professional</p>
		<p>(writer/coder/maker)</p>
		<p></p>
	</div>
</div>

{% endblock %}



{% block about %}
<!-- about section -->

{% setcontent about = 'page/about' %}
<div class="story">
	<div id="aboutAnchor"></div>
	<div class="text">
		<h1>My Story</h1>
		<p>{{ about.body }}</p>
	</div>

</div>
{% endblock %}

{% block code %}
{% setcontent tech = 'page/tech' %}
<div class="code-pic" style="background: url({{ tech.image|image }}); background-size: cover" data-stellar-background-ratio="0.25">
</div>


{% endblock %}


{% block writing %}

{% setcontent write = 'page/write' %}
<div style="background: url({{ write.image|image }}); background-size: cover" data-stellar-background-ratio="0.25">

	<div class="text">
		<p>{{ write.body }}</p>
	</div>

</div>
{% endblock %}





