/* margin strip */


body {
	margin: 0px;
	height: 100%;
}


.card {
	border-top: 5px solid white;
	height: 500px;
	color: white;
	background-color: black;
	font-size: 1.5em;
	padding: 25px;
	position: relative;
	background-attachment: fixed;
}

.container {
	margin-top: 50px;
}

.header {
	width: 100%;
	height: 60px;
	background-color: black;
	border-bottom: 1px solid gray;
	color:white;
	position:fixed;
	padding: 10px;
	z-index: 100;
	text-align: center;
}

.header-title {
	font-family: "Nothing You Could Do";
	display:inline-block;
	text-align: center;
	margin:0px;
	font-size: 2.5em;
}

.logo-links {
	display: inline-block;
	float:right;
	margin-right: 50px;
}

.profile-pic {
	border-radius: 50px;
	height: 100px;
	width: 100px;
}

.text {
	max-width: 700px;
	min-width: 320px;
	text-align: justify;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	font-family: "Lusitana";
	font-size: .85em;
	/*text-shadow: 2px 2px 4px #666;*/
}


a {
	color:white;
	text-decoration: none;
}

.topper {
	height: 0px;
	width: 100%;
}

.runner {
	padding: 30px;
	max-width: 700px;
	min-width: 320px;
	margin: auto;
	background-color:rgba(50, 43, 242, 0.75);
	border-radius: 15px;
}

.footer {
	width: 100%;
	background-color:black;
	height: 250px;
}

.icon {
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

