/* margin strip */


body {
	margin: 0px;
	height: 100%;
}


.card {
	border-top: 5px solid white;
	height: 500px;
	color: white;
	background-color: black;
	font-family: "Oxygen";
	font-size: 1.5em;
	padding: 25px;
	vertical-align: middle;
	position: relative;
	background-attachment: fixed;
}

.container {
	margin-top: 50px;
}

.header {
	width: 100%;
	height: 50px;
	background-color: black;
	color:white;
	font-size: 2.25em;
	position:fixed;
	padding: 10px;
	z-index: 100;
}

.text {
	width: 50%;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 2px 2px black;
}

a {
	color:white;
	text-decoration: none;
}

.text .title {
	font-size: 2em;
}

.topper {
	height: 0px;
	width: 100%;
}

