/* margin strip */


body {
	margin: 0px;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Oxygen";
}


.card {
	border-top: 5px solid white;
	height: 500px;
	color: white;
	background-color: black;
	font-family: "Oxygen";
	font-size: 1.5em;
	padding: 25px;
	vertical-align: middle;
	position: relative;
	background-attachment: fixed;
}

.container {
	margin-top: 50px;
}

.header {
	width: 100%;
	background-color: black;
	color:white;
	position:fixed;
	padding: 10px;
	z-index: 100;
}

.name {
	margin: 0px;
	width: 275px;
	padding-left: 25px;
	font-size: 2.75em;
	display: inline-block;
}

.header-title {
	display:inline-block;
	text-align: center;
	margin:0px;
}

.logo-links {
	display: inline-block;
	float:right;
	margin-right: 50px;
}

.text {
	width: 600px;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 2px 2px black;
}

a {
	color:white;
	text-decoration: none;
}

.text .title {
	font-size: 2em;
}

.topper {
	height: 0px;
	width: 100%;
}

